# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tfvars will be supplied externally
terraform.tfvars

# Crash log files
crash.log
crash.*.log

# Dependency directories
node_modules/

# Backup files
*.bak

# Rendered files
resume.html
resume.md
resume.pdf
